.App {
  /*text-align: center;*/
  display: flex;
}

.cate_list {
  width: 30%;
  margin-right: 5%;
}
.cates {
  list-style-type: none;
}

.cate_row {
  border: 0.5px solid lightgreen;
  margin: 1px 0;
}
.cate_row:hover {
  color: lightgreen;
}

.items_list {
  width: 50%;
}

.items_list th,td {
  border: 0.5px solid lightgreen;
}
